        </div>
        <footer class='container-fluid'>
            <div class='footer border-top'>
                <div>
                    <p class='text-center'>Copyright 2018 &middot; Made with 🖤 from <a href='https://dcdesigns.io' target='_blank'>Dandy Cat Designs</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>